
// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}
.navbar {
  background-color:#037ef3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  .navbar-brand {
  color:white;
  }
}

// Mixin itself
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

// Usage as a mixin
.element {
  @include clearfix;
}